
<!-- app/views/registration/new.html.erb -->

<h1> Sign up Page </h1>

<%= form_with model: @user, local: true, data: { turbo: false }, url: sign_up_path do |form| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message|%>
        <div class='m-5'>
          <%= message %> <% end %>
      </div>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :email, "Email Address" %>
    <%= form.text_field :email, class: "form-control", placeholder: "myname@email.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password,  class: "form-control", placeholder: "strong password"%>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password Confirmation" %>
    <%= form.password_field :password_confirmation,  class: "form-control", placeholder: "strong password"%>
  </div>


  <div class="mb-3">
    <%= form.submit "Sign Up", class: 'btn btn-primary' %>
  </div>
<% end %>

